* {
  margin: 0;
  padding: 0;
  font-family: "Playpen Sans", cursive;
}

.containerNav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: rgb(239, 71, 111);
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navLinks {
  display: flex;
  align-items: center;
}
.navLinks a {
  display: block;
  border: #ffffff solid 2px;
  border-radius: 20px;
  padding: 7px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.navLinks a:hover {
  background-color: rgb(5, 121, 182);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: bold;
}

.navLinksMobile {
  display: flex;
  align-items: center;
  font-size: 28px;
}
.navLinksMobile a {
  display: block;
  border: #ffffff solid 2px;
  border-radius: 20px;
  padding: 7px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
.navLinksMobile a:hover {
  background-color: rgb(5, 121, 182);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-weight: bold;
}

.buttonMenuToggle {
  display: none;
}

li {
  list-style-type: none;
}
li > a {
  padding: 8px 24px;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.buttonMenuToggle {
  display: none;
}

.btn {
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
}
.btn:hover {
  background-color: #ff4f4f;
  color: #000000;
  font-weight: bold;
}

.btnPets {
  display: none;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
  text-align: center;
}
.btnPets:hover {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #ff4f4f;
  color: #000000;
  font-weight: bold;
}

.buttonLanguage a img {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin-left: -5px;
  margin-top: -10px;
  width: 80px;
  height: 80px;
}

.goTopContainer {
  box-sizing: border-box;
  size: 10px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 1;
}

.goTopButton {
  width: 0rem;
  height: 0rem;
  background: rgb(55, 80, 100);
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.goTopButton i {
  position: absolute;
  font-size: 1.7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  transition: 0.2s;
}

.showGoTop {
  z-index: 10;
}
.showGoTop .goTopButton {
  animation: popup 0.3s ease-in-out;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 11;
}
.showGoTop i {
  transform: translate(-50%, -50%) scale(1);
}

.petCard {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.petCard img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}
.petCard h3 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.petCard p {
  font-size: 16px;
  color: #342521;
  margin-bottom: 5px;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  color: #000000;
}
.card:hover .btnPets {
  display: block;
}
.card img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}
.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.card p {
  font-size: 14px;
}

.cardContainerDonation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cardContainerDonation .cardDonation {
  flex: 0 0 calc(50% - 40px);
  background-color: rgb(5, 121, 182);
  margin: 10px;
  padding: 20px;
  border: 2px solid rgba(20, 20, 20, 0.95);
  border-radius: 20px;
  box-sizing: border-box;
}
.cardContainerDonation .cardDonation .descriptionDonation,
.cardContainerDonation .cardDonation .amount {
  text-align: center;
  color: #ffffff;
}
.cardContainerDonation .cardDonation #totalDonaciones,
.cardContainerDonation .cardDonation #ultimaDonacion {
  font-size: 50px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.message {
  grid-column: span 2;
}

.submit {
  grid-column: span 2;
}

.label {
  display: block;
  margin-bottom: 5px;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type=email] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.receiveInfo {
  display: inline-flex;
  align-items: center;
}
.receiveInfo input[type=checkbox] {
  margin-right: 5px;
}

input[type=checkbox] {
  width: auto;
}

.popups {
  text-align: center;
  padding: 0 0 100px;
  background-color: rgb(239, 71, 111);
}
.popups p {
  font-weight: 300;
}

#hiddenPopups {
  padding: 25px;
  border-radius: 10px;
}
#hiddenPopups .title {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-style: bold;
}
#hiddenPopups ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
#hiddenPopups ul li img {
  width: 400px;
}

.show {
  display: none;
}

.popupContainerLanguaje {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.95);
  top: 100px;
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  padding-top: 70px;
}

.language {
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(20, 20, 20, 0.95);
  color: #ffffff;
  text-decoration: none;
  border: #ffffff solid 2px;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  margin: 0 10px;
  margin-top: 130px;
}
.language:hover {
  background-color: rgb(5, 121, 182);
}

header {
  background-image: url(../images/fondo.jpg);
  text-align: center;
  padding: auto;
  padding-bottom: 20px;
}
header h1 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 10px;
}
header p {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.imagenEncabezado {
  width: 20%;
  height: 20%;
}

.redesSociales a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.iconoFacebook {
  background-image: url("../images/header/facebook.png");
}

.iconoX {
  background-image: url("../images/header/x.png");
}

.iconoInstagram {
  background-image: url("../images/header/instagram.png");
}

#timeDate,
#countdown {
  background-color: rgba(20, 20, 20, 0.95);
  color: #ffffff;
  padding: 3px;
  text-transform: uppercase;
}

#countdown {
  display: none;
}

footer {
  background-color: rgba(239, 71, 111, 0.9);
  padding: 20px;
  text-align: center;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.weAreMembers {
  text-align: center;
}
.weAreMembers h4 {
  margin-bottom: 10px;
  font-size: 18px;
}
.weAreMembers ul li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0 10px;
}

.communication {
  text-align: center;
}
.communication h4 {
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 18px;
}
.communication ul .listDesktop {
  list-style-type: none;
  padding: 0;
  margin: 5px 10px;
  height: 20%;
}
.communication ul .listDesktop .desktop {
  width: 20%;
  height: 50%;
  padding: 10px;
}
.communication ul .listMobile .mobile {
  display: none;
}

.about {
  background-color: #f5f5f5;
  padding: 40px;
}
.about .container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.about .container h2 p {
  font-size: 16px;
  line-height: 1.5;
}

#about {
  background-color: #f5f5f5;
  padding: 40px;
}
#about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
#about p {
  font-size: 16px;
  line-height: 1.5;
}

.patrocinadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.patrocinador {
  width: 300px;
  height: 300px;
  margin: 10px;
}
.patrocinador img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pets {
  background-color: lightgray;
  padding: 40px;
}
.pets .container h2 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

#cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact .container {
  background-color: #f5f5f5;
  padding: 40px;
}
.contact .container h2 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.contact .container p {
  font-size: 16px;
  color: #342521;
  line-height: 1.5;
}

.ask {
  margin-bottom: 20px;
  cursor: pointer;
}
.ask:hover .questionAnswer {
  display: block;
}

.questionTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionAnswer {
  display: none;
}

.mapsMobile {
  display: none;
}

#donations {
  background-color: lightgray;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }
  header p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .imagenEncabezado {
    width: 50% !important;
    height: 50% !important;
  }
  .column {
    flex: 100%;
  }
  .navLinks {
    display: none;
  }
  .navLinksMobile {
    display: flex;
    align-items: center;
  }
  .buttonMenuToggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
  .navLinks.navLinksResponsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 130%;
    top: 100px;
    left: 0;
    flex-direction: column !important;
    padding-top: 70px;
    align-items: center;
    gap: 70px;
    font-size: 30px;
  }
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .message {
    grid-column: 1;
  }
  .submit {
    grid-column: 1;
  }
  .mapsDesktop {
    display: none;
  }
  .mapsMobile {
    display: block;
  }
  #hiddenPopups {
    padding: 15px;
  }
  #hiddenPopups .title {
    width: 100%;
    font-size: 22px;
    font-style: bold;
  }
  #hiddenPopups ul {
    font-size: 14px;
  }
  #hiddenPopups ul li img {
    width: 200px;
  }
  .communication h4 {
    margin-bottom: 2px;
  }
  .communication ul .listDesktop {
    display: none;
  }
  .communication ul .listDesktop .desktop {
    display: none;
  }
  .communication ul .listMobile {
    display: inline-block;
  }
  .communication ul .listMobile .mobile {
    display: inline-block;
    width: 15%;
    height: 15%;
    padding: 10px;
    margin-top: 0px;
  }
  .cardContainerDonation .cardDonation {
    flex: 0 0 calc(100% - 20px);
  }
  .cardContainerDonation .cardDonation #totalDonaciones,
  .cardContainerDonation .cardDonation #ultimaDonacion {
    font-size: 28px;
  }
}

/*# sourceMappingURL=styles1.css.map */
