$color_1: #ffffff;
$color_2: #000000;
$color_3: #342521;
$font-family_1: 'Playpen Sans', cursive;
$font-family_2: monospace;
$background-color_1: rgb(239, 71, 111);
$background-color_2: rgba(239, 71, 111, 0.9);
$background-color_3: rgb(5, 121, 182);
$background-color_4: #f5f5f5;
$background-color_5: lightgray;
$background-color_6: #ffffff;
$background-color_7: #ff6b6b;
$background-color_8: #ff4f4f;
$background-color_9: rgba(0, 0, 0, 0.5);
$background-color_10: white;
$background-color_11: rgba(239, 71, 111, 0.95);

* {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
}
header {
	background-image: url(../images/fondo.jpg);
	text-align: center;
	padding: auto;
	padding-bottom: 20px;
	h1 {
		font-size: 32px;
		color: $color_1;
		margin-bottom: 10px;
	}
	p {
		font-size: 24px;
		color: $color_1;
		margin-bottom: 10px;
	}
}
.imagenEncabezado {
	width: 20%;
	height: 20%;
}
.redesSociales {
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-size: cover;
		margin-right: 10px;
	}
}
.iconoFacebook {
	background-image: url('../images/header/facebook.png');
}
.iconoX {
	background-image: url('../images/header/x.png');
}
.iconoInstagram {
	background-image: url('../images/header/instagram.png');
}
.containerNav {
	display: flex;
	padding: 10px;
	height: 50px;
	background-color: $background-color_1;
	.navbar {
		background-color: $background-color_2;
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		font-weight: bold;
		display: flex;
		justify-content: center;
		.navLinks {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			li {
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
			}
		}
		.navLinksResponsive {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			li {
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}
}
.navLinks {
	>a {
		padding: 8px 24px;
	}
	a {
		display: block;
		border: #ffffff solid 2px;
		border-radius: 20px;
		padding: 7px;
		color: $color_1;
		text-decoration: none;
		&:hover {
			background-color: $background-color_3;
			border-radius: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: $color_1;
			font-weight: bold;
		}
	}
}
.navLinksResponsive {
	>a {
		padding: 8px 24px;
	}
	a {
		display: block;
		border: #ffffff solid 2px;
		border-radius: 20px;
		padding: 7px;
		color: $color_1;
		text-decoration: none;
		&:hover {
			background-color: $background-color_3;
			border-radius: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: $color_1;
			font-weight: bold;
		}
	}
}
.buttonMenuToggle {
	display: none;
}
.about {
	background-color: $background-color_4;
	padding: 40px;
	.container {
		h2 {
			font-size: 24px;
			margin-bottom: 20px;
			p {
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}
.pets {
	background-color: $background-color_5;
	padding: 40px;
	.container {
		h2 {
			font-size: 24px;
			color: $color_2;
			margin-bottom: 20px;
		}
	}
}
.petCard {
	background-color: $background-color_6;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	img {
		width: 100%;
		border-radius: 8px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 20px;
		color: $color_2;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: $color_3;
		margin-bottom: 5px;
	}
}
.btn {
	padding: 10px 20px;
	background-color: $background-color_7;
	color: $color_1;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	border: none;
	&:hover {
		background-color: $background-color_8;
		color: $color_2;
		font-weight: bold;
	}
}
.contact {
	.container {
		background-color: $background-color_4;
		padding: 40px;
		h2 {
			font-size: 24px;
			color: $color_2;
			margin-bottom: 20px;
		}
		p {
			font-size: 16px;
			color: $color_3;
			line-height: 1.5;
		}
	}
}
.gridContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}
.message {
	grid-column: span 2;
}
.submit {
	grid-column: span 2;
}
.label {
	display: block;
	margin-bottom: 5px;
}
input[type="text"] {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
input[type="email"] {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
textarea {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
select {
	width: 100%;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.receiveInfo {
	display: inline-flex;
	align-items: center;
	input[type="checkbox"] {
		margin-right: 5px;
	}
}
input[type="checkbox"] {
	width: auto;
}
#cats {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#dogs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	width: 300px;
	margin: 10px;
	padding: 20px;
	background-color: $background-color_4;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	&:hover {
		transform: translateY(-5px);
		color: $color_2;
		.btnPets {
			display: block;
		}
	}
	img {
		width: 100%;
		height: 60%;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
	}
}
.btnPets {
	display: none;
	padding: 10px 20px;
	background-color: $background-color_7;
	color: $color_1;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	border: none;
	text-align: center;
	&:hover {
		display: flex;
		text-align: center;
		justify-content: center;
		background-color: $background-color_8;
		color: $color_2;
		font-weight: bold;
	}
}
#about {
	background-color: $background-color_4;
	padding: 40px;
	h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	p {
		font-size: 16px;
		line-height: 1.5;
	}
}
.patrocinadores {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.patrocinador {
	width: 300px;
	height: 300px;
	margin: 10px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
#donations {
	background-color: $background-color_5;
	padding: 40px;
}
.ask {
	margin-bottom: 20px;
	cursor: pointer;
	&:hover {
		.questionAnswer {
			display: block;
		}
	}
}
.questionTitle {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.questionAnswer {
	display: none;
}
.mapsMobile {
	display: none;
}
#carouselExample {
	max-width: 800px;
	margin: 0 auto;
}
.carousel-control-prev {
	position: absolute;
	top: 50%;
	z-index: 1;
	width: 40px;
	background-color: $background-color_9;
}
.carousel-control-next {
	position: absolute;
	top: 50%;
	z-index: 1;
	width: 40px;
	background-color: $background-color_9;
}
footer {
	background-color: $background-color_2;
	padding: 20px;
	text-align: center;
	color: $color_2;
	font-size: 14px;
	font-weight: bold;
}
.somosMiembros {
	text-align: center;
	h4 {
		margin-bottom: 10px;
	}
	ul {
		li {
			list-style-type: none;
			padding: 0;
			display: inline-block;
			margin: 0 10px;
		}
	}
}
@media screen and (max-width: 768px) {
	header {
		h1 {
			font-size: 24px;
		}
		p {
			font-size: 18px;
			color: $color_1;
			margin-bottom: 10px;
		}
	}
	.imagenEncabezado {
		width: 50% !important;
		height: 50% !important;
	}
	.containerNav {
		.navbar {
			.navLinks {
				display: none;
			}
		}
	}
	.navLinksResponsive {
		display: flex;
		align-items: center;
		margin-top: 20px;
	}
	.buttonMenuToggle {
		display: block;
		background-color: $background-color_10;
		border: none;
		border-radius: 50px;
		padding: 0 24px;
		font-family: $font-family_2;
		font-weight: bold;
		font-size: 20px;
		z-index: 1;
	}
	.navbar {
		.navLinks {
			flex-wrap: wrap;
			justify-content: center;
		}
		li {
			margin-bottom: 10px;
		}
	}
	.navLinks {
		.navLinksResponsive {
			position: absolute;
			display: flex;
			background-color: $background-color_11;
			width: 100%;
			height: 100%;
			top: 70px;
			left: 0;
			flex-direction: column !important;
			padding-top: 70px;
			align-items: center;
			gap: 70px;
			font-size: 40px;
		}
	}
	.gridContainer {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	.message {
		grid-column: 1;
	}
	.submit {
		grid-column: 1;
	}
}