footer {
    background-color: $background-color_9;
    padding: 20px;
    text-align: center;
    color: $color_3;
    font-size: 14px;
    font-weight: bold;
}

.weAreMembers {
    text-align: center;

    h4 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    ul {
        li {
            list-style-type: none;
            padding: 0;
            display: inline-block;
            margin: 0 10px;
        }
    }
}

.communication {
    text-align: center;

    h4 {
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: 18px;
    }

    ul {
        .listDesktop {
            list-style-type: none;
            padding: 0;
            margin: 5px 10px;
            height: 20%;

            .desktop {
                width: 20%;
                height: 50%;
                padding: 10px;
            }
        }

        .listMobile {
            .mobile {
                display: none;
            }
        }
    }
}

.importantInformation {
    list-style: none;
    padding: 0;
    text-align: center;

    .information,
    .separation {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        color: $color_3;

        a {
            color: $color_3; 
        }
    }
}



