footer {
    background-color: $background-color_9;
    padding: 20px;
    text-align: center;
    color: $color_3;
    font-size: 14px;
    font-weight: bold;
}

.somosMiembros {
    text-align: center;

    h4 {
        margin-bottom: 10px;
    }

    ul {
        li {
            list-style-type: none;
            padding: 0;
            display: inline-block;
            margin: 0 10px;
        }
    }
}