.buttonMenuToggle {
    display: none;
}

.btn {
    padding: 10px 20px;
    background-color: $background-color_6;
    color: $color_1;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;

    &:hover {
        background-color: $background-color_7;
        color: $color_3;
        font-weight: bold;
    }
}

.btnPets {
    display: none;
    padding: 10px 20px;
    background-color: $background-color_6;
    color: $color_1;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    text-align: center;

    &:hover {
        display: flex;
        text-align: center;
        justify-content: center;
        background-color: $background-color_7;
        color: $color_3;
        font-weight: bold;
    }
}

.buttonLanguage {
    a {
        img {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0px;
            margin-left: -5px;
            margin-top: -10px;
            width: 80px;
            height: 80px;
        }
    }
}

.goTopContainer {
    box-sizing: border-box;
    size: 10px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: 1;
}

.goTopButton {
    width: 0rem;
    height: 0rem;
    background: $background-color_12;
    color: $color_1;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;

    i {
        position: absolute;
        font-size: 1.7rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: $color_1;
        transition: 0.2s;
    }
}

.showGoTop {
    z-index: 10;

    .goTopButton {
        animation: popup 0.3s ease-in-out;
        width: 3.6rem;
        height: 3.6rem;
        z-index: 11;
    }

    i {
        transform: translate(-50%, -50%) scale(1);
    }
}
