.containerNav {
	display: flex;
	padding: 10px;
	height: 50px;
	background-color: $background-color_1;
}

.navbar {
	display: flex;
	justify-content: center;
	width: 100%;
}

.navLinks {
	display: flex;
	align-items: center;

	a {
		display: block;
		border: #ffffff solid 2px;
		border-radius: 20px;
		padding: 7px;
		color: $color_1;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			background-color: $background-color_2;
			border-radius: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: $color_1;
			font-weight: bold;
		}
	}
}

.navLinksMobile {
	display: flex;
	align-items: center;
	font-size: 28px;

	a {
		display: block;
		border: #ffffff solid 2px;
		border-radius: 20px;
		padding: 7px;
		color: $color_1;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			background-color: $background-color_2;
			border-radius: 20px;
			padding-left: 10px;
			padding-right: 10px;
			color: $color_1;
			font-weight: bold;
		}
	}
}

.buttonMenuToggle {
	display: none;
}

li {
	list-style-type: none;

	>a {
		padding: 8px 24px;
	}
}

a {
	color: $color_2;
	text-decoration: none;
	margin: 10px;
}