$color_1: #ffffff;
$color_2: white;
$color_3: #000000;
$color_4: #342521;
$font-family_1: 'Playpen Sans', cursive;
$font-family_2: monospace;
$background-color_1: rgb(239, 71, 111);
$background-color_2: rgb(5, 121, 182);
$background-color_3: #f5f5f5;
$background-color_4: lightgray;
$background-color_5: #ffffff;
$background-color_6: #ff6b6b;
$background-color_7: #ff4f4f;
$background-color_8: rgba(0, 0, 0, 0.5);
$background-color_9: rgba(239, 71, 111, 0.9);
$background-color_10: white;
$background-color_11: rgba(20, 20, 20, 0.95);
$background-color_12: rgb(55,80,100);